<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428931836064-vm7paa26bsjelik8b0hgtr12kh7eoe6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428931836064-vm7paa26bsjelik8b0hgtr12kh7eoe6m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>428931836064-2tf5is823mhb7sgpvbkl28uib88nibt7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhcMPCZdpQRNGC2ZjeCmMk96Oyl7FiciM</string>
	<key>GCM_SENDER_ID</key>
	<string>428931836064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goodPlace</string>
	<key>PROJECT_ID</key>
	<string>goodplace-milu</string>
	<key>STORAGE_BUCKET</key>
	<string>goodplace-milu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428931836064:ios:85c510770192162d4ac1c5</string>
</dict>
</plist>